*.orig
*.svn*
*.beam
*.swp
*.erl~

*.config~
run_robot.sh
run_1_ctl.sh
Mnesia.*
grep.txt
erlshell.log
out.txt
ebin/
rel/server
rel/files/sys.config
rel/files/vm.args
.eunit
deps/
CombatServer/CombatServer
*.dump*
*.o
*.tmp
CMakeFiles
install_manifest.txt
cmake_install.cmake
CMakeCache.txt
*.so
*.so.*
*.a
temp/
config/server.app
script/run_1 - console.bat
/ebin.tar
sh/ebin.tar
logs/


sh/custom_tools_env

config/make_record_db.conf
mnesia/

/fe_src/component_modules/
/priv/public/
/priv/template/
/priv/component.json
/priv/map.json
/priv/fe_release

.rebar
dev.config
