% -*- mode: erlang -*-
{deps, [
        {lager, ".*", 
         {git, "https://github.com/roowe/lager"}},
        {cowboy, ".*", 
         {git, "https://github.com/extend/cowboy"}},
        {reloader, ".*", 
         {git, "https://github.com/roowe/reloader"}},
        {emysql, ".*",
         {git, "https://github.com/Eonblast/Emysql"}},
        {getopt, ".*",
         {git, "https://github.com/roowe/getopt"}},
        {jiffy, ".*",
         {git, "https://github.com/davisp/jiffy"}},
        {ets_cache, ".*", {git, "https://github.com/roowe/ets_cache", "master"}},
        {gproc, ".*", {git, "https://github.com/uwiger/gproc"}}
       ]}.

{erl_first_files, ["src/mysql_db/db_mysql_base.erl"]}.

{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.
%{cover_enabled, true}.

{erl_opts,[{parse_transform, lager_transform},
           {lager_print_records_flag, false},
           bin_opt_info,
           debug_info,
           fail_on_warning]}.
